body {
    font-family: "Comfortaa", serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
    background-image: url("DALL  (1) (1) (1).webp");
    backdrop-filter: blur(3px);
    list-style: none;
}

.signein {
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    bottom: 40px;
}

.ui {
    color: #f4f4f4;
    position: relative;
    bottom: -10px;
}

.ui:hover {
    color: black;
    transition: 1s;
}

.loginn {
    padding: 20px;
    height: 340px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(6, 0, 0, 0.1);
    background-color: #fffffe;
    background: transparent;
    backdrop-filter: blur(10px);
    position: relative;
    left: 470px;
}

header {
    width: 1080px;
    height: 80px;
    color: #f4f4f4;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: transparent;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.hab {
    display: none;
}

.navbar.active {
    height: 450px;
    background-color: black;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: white;
    font-size: 20px;
    padding: 1px 15px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 5px;
}

.emaill {
    position: relative;
    left: 270px;
    bottom: 25px;
    font-size: large;
}

h3 {
    color: black;
}

h1 {
    color: black;
}

.blog {
    position: relative;
    left: 100px;
}

.navbar.active ul {
    opacity: 1;
}

.navbar.active {
    height: 450px;
}

.navbar ul li a:hover {
    color: black;
    background: white;
}

.navbar ul li a.active {
    color: white;
    background: black;
}

.pp {
    position: relative;
    top: -50px;
}

a {
    color: #4cae4c;
}

#password {
    position: relative;
    left: 266px;
    bottom: 75px;
    font-size: large;
}

#user {
    position: relative;
    left: 266px;
    bottom: 75px;
    font-size: large;
}

#userr {
    position: relative;
    left: 270px;
    bottom: 25px;
    font-size: large;
}

#passwordd {
    position: relative;
    left: 270px;
    bottom: 25px;
    font-size: large;
}

.login h2 {
    margin-bottom: 40px;
}

.formm {
    margin-bottom: 15px;
}

.form {
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.formm label {
    display: block;
    margin-bottom: 5px;
    position: relative;
    bottom: 40px;
}

.emaill {
    position: relative;
    bottom: 74px;
    left: 265px;
}

.sign {
    transform: translateX(400px);
}

.form input {
    width: 91%;
    padding: 10px;
    border-radius: 4px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: solid 2px rgb(6, 6, 6);
    background: transparent;
    backdrop-filter: blur(10px);
    outline: none;
    font-size: large;
}

.formm input {
    width: 91%;
    padding: 5px;
    position: relative;
    bottom: 50px;
    border-radius: 4px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: solid 2px black;
    background: transparent;
    backdrop-filter: blur(10px);
    outline: none;
    font-size: large;
}

button {
    width: 99%;
    padding: 10px;
    color: white;
    background-color: #4cae4c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    text-decoration: none;
    color: black;
}

.o {
    position: relative;
    bottom: 15px;
}

.fo {
    position: relative;
    left: 40px;
    bottom: 15px;
}

.si {
    position: relative;
    left: 190px;
    top: 10px;
    color: white;
}

.si:hover {
    color: black;
    transition: 1s;
}

.login {
    position: relative;
    bottom: 20px;
}

.loginnn {
    display: none;
}

.login {
    display: none;
}